services:
  app:
    build: .
    container_name: morada-segura-app
    restart: unless-stopped
    ports:
      - "8080:80"
    depends_on:
      - pocketbase

  pocketbase:
    image: ghcr.io/muchobien/pocketbase:latest
    container_name: pocketbase
    restart: unless-stopped
    ports:
      - "8090:8090"
    volumes:
      - ./pb_data:/pb_data
      - ./pb_migrations:/pb_migrations
      - ./pb_public:/pb_public
    environment:
      - TZ=America/Sao_Paulo
